.main-content-contact {
}

.banner {
  width: 100%;
  height: 704px;
  background-image: url("../../assets/images/contact-page/house.avif");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-main {
  text-align: center;
  /* width: 848px; */
  margin: 0 10rem;
  padding: 20px 80px;
  background-color: #ecffe6bf;
  border-radius: 10px;
}

.banner-main p {
  font-size: 20px;
  line-heigth: 28px;
  font-weigth: 400px;
}

.banner-main h1 {
  color: var(--primary-color);
  padding: 10px 0;
}

.contact-picture-plant img {
  margin-right: 100px;
}

.contact-middle {
  display: flex;
}

.contact-section {
  padding: 50px 0;
}

.contact-card {
  text-align: center;
}

.contact-card h5 {
  color: var(--primary-color);
}

.contact-icons {
  width: 48px;
  color: var(--primary-color);
}

.add-contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-photo {
  width: 387px;
}

.additional-contacts {
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  color: #555;
}

.additional-contacts h5 {
  color: var(--primary-color);
}

.modal-respond {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-respond-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
  border: 3px solid var(--primary-color);
}

.modal-respond-content h3 {
  margin-bottom: 30px;
}

.modal-respond-content p {
  max-width: 70%;
  margin: 0 auto;
  color: #818589;
}

.modal-respond-button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 60px;
}
.modal-respond-button:hover {
  background-color: #2f7c13;
}

@media (max-width: 1024px) {
  .banner-main {
    margin: 0 5rem;
  }
  .contact-middle {
    flex-direction: column;
    align-items: center;
  }
  .contact-picture-plant img {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 550px;
  }

  .banner-main {
    padding: 15px;
  }

  .contact-middle img {
    margin-bottom: 20px;
  }
}

@media (max-width: 574px) {
  .add-contact-main {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
  }
  .banner {
    height: 450px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form select {
    font-size: 14px;
  }

  .contact-form button {
    font-size: 14px;
  }

  .contact-card h5,
  .additional-contacts h5 {
    font-size: 16px;
  }

  .contact-middle img {
    width: 285px;
  }
}
