.testimonial-box,
.plant-box {
    width: 360px;
    height: 360px;
}

.plant-box {
    background-color: #ecffe6;
    display: grid;
    place-items: center;
    border: 5px solid #399918;
}

.plant-box img {
    max-width: 100%;
    height: auto;
}

.testimonial-box {
    padding: 1rem;
    display: grid;
    place-content: center;
}

.testimonial-box .customer-name {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.testimonial-box .customer-business {
    font-style: italic;
    margin-bottom: 0;
}

.testimonial-box .customer-statement {
    font-style: italic;
}

.testimonial-box .testimonial-stars {
    width: 100px;
}